In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
def merge_data(path_pm25, path_weather, path_aod):
    df_pm25 = pd.read_csv(path_pm25)
    df_pm25['datetime'] = pd.to_datetime(df_pm25['datetime']).dt.date

    
    df_pm25.replace('-', np.nan, inplace=True)
    df_pm25.replace(0, np.nan, inplace=True)
    
    df_pm25['ISPU PM2.5'] = pd.to_numeric(df_pm25['ISPU PM2.5'], errors='coerce')
    
    df_pm25_daily = df_pm25.groupby('datetime', as_index=False)['ISPU PM2.5'].mean()
    df_pm25_daily = df_pm25_daily[["ISPU PM2.5", "datetime"]]

    df_weather = pd.read_csv(path_weather)

    df_pm25_daily['datetime'] = pd.to_datetime(df_pm25_daily['datetime']).dt.date
    df_weather['datetime'] = pd.to_datetime(df_weather['datetime'], format='%m/%d/%Y').dt.date

    columns_needed = ['datetime', 'temp', 'dew', 'humidity', 'precip', 'windspeed']
    df_weather = df_weather[columns_needed]

    df_merged = pd.merge(df_pm25_daily, df_weather, on='datetime', how='inner')

    df_aod = pd.read_csv(path_aod)
    df_aod['datetime'] = pd.to_datetime(df_aod['datetime'], format='%Y-%m-%d').dt.date
    columns_needed = ['datetime','AOD']
    df_aod = df_aod[columns_needed]

    df_merged = pd.merge(df_merged, df_aod, on='datetime', how='left')

    return df_merged

In [3]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_Bundaran HI.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\bundaran_hi 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\bundaran_hi.csv"

df = merge_data(path_pm25, path_weather, path_aod)

In [4]:
df

      ISPU PM2.5    datetime  temp   dew  humidity  precip  windspeed     AOD
0            NaN  2022-01-01  28.6  24.0      77.2   0.496       21.7  0.5472
1            NaN  2022-01-02  28.1  23.9      79.2   0.000       22.8     NaN
2            NaN  2022-01-03  28.8  22.9      72.4   0.000       20.5  0.1140
3            NaN  2022-01-04  28.4  23.4      75.4   0.000       18.0  0.5118
4            NaN  2022-01-05  28.8  24.1      77.3  27.896       14.3  0.2786
...          ...         ...   ...   ...       ...     ...        ...     ...
1091   65.555556  2024-12-27  29.0  23.6      73.4   0.000       18.2  0.0200
1092         NaN  2024-12-28  29.6  22.6      67.3   0.000       20.8  1.8146
1093         NaN  2024-12-29  29.2  23.9      73.6   0.006       15.4     NaN
1094         NaN  2024-12-30  28.2  23.2      75.2   1.051       29.3  0.7180
1095   37.416667  2024-12-31  28.1  23.2      75.3   1.676       23.7     NaN

[1096 rows x 8 columns]

In [34]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_Bundaran HI.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\bundaran_hi 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\bundaran_hi.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\bundaran_hi.csv", index=False)

In [35]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_US Embassy 1.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\us_embassy_1 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\us_embassy_1.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\us_embassy_1.csv", index=False)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_28592\3626503657.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_pm25.replace('-', np.nan, inplace=True)

In [36]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_US Embassy 2.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\us_embassy_2 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\us_embassy_2.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\us_embassy_2.csv", index=False)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_28592\3626503657.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_pm25.replace('-', np.nan, inplace=True)

In [37]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_Jakarta GBK.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\jakarta_gbk 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\jakarta_gbk.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\jakarta_gbk.csv", index=False)

In [38]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_Kelapa Gading.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\kelapa_gading 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\kelapa_gading.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\kelapa_gading.csv", index=False)

In [39]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_Jagakarsa.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\jagakarsa 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\jagakarsa.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\jagakarsa.csv", index=False)

In [40]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_Lubang Buaya.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\lubang_buaya 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\lubang_buaya.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\lubang_buaya.csv", index=False)

In [41]:
path_pm25 = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\merged data pm2.5\\merged_data_Kebun Jeruk.csv"
path_weather = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data cuaca\\kebun_jeruk 2022-01-01 to 2024-12-31.csv"
path_aod = "C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data aod himawari\\data csv\\kebun_jeruk.csv"

df = merge_data(path_pm25, path_weather, path_aod)

df.to_csv("C:\\AData\\kuliah\\sem 7\\Tugas Akhir\\Kode Program\\data gabungan aod cuaca pm2.5\\kebun_jeruk.csv", index=False)